@charset "utf-8";
@import url("http://www.w3cplus.com/demo/css3/base.css");
#demo_zone{
   width:602px;
   margin:0 auto;
}
#accordion{
	border:1px solid #D2D2D2;
	border-top:none;
	width:600px;
}
#accordion input[type='radio']{
	display:none;
}
#accordion label{
	display:block;
	font-size:16px;
	background-color:#F4F4F4;
	border-top:1px solid #D2D2D2;
	line-height:36px;
	font-weight:bold;
	cursor:pointer;
}
#accordion label:before{
	content:"\2610";
	background-color:#fff;
	width:19px;
	height:19px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-align:center;
	margin:0 5px;
	box-shadow:0 0 1px rgba(0,0,0,0.5);
	display:inline-block;*display:inline;*zoom:1;
	line-height:19px;
	vertical-align:middle;
}
#accordion .accordion-content{
	height:0;
	overflow:hidden;
	-webkit-transition:height 0.3s ease;
	-moz-transition:height 0.3s ease;
	-ms-transition:height 0.3s ease;
	-o-transition:height 0.3s ease;
	transition:height 0.3s ease;
}
#accordion .accordion-content p{
	margin:10px;
}
#accordion input:checked + label:before{
	content:"\2611";
	color:#f00;
	box-shadow:0 0 2px rgba(255,0,0,0.5);
}
#accordion input:checked ~ .accordion-content{
	height:100px;
}